@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');
/*! ----------- STYLESHEET RESET ----------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*! ----------- CSS CUSTOM VARIABLES DECLARATION -----------*/

:root {
  --clr-primary: #32c3ff;
  --clr-secondary: #fff;

  --clr-btn-bg: #57e95c;
  --font-timer: 'Nunito';
  --font-secondary: 'Roboto';
}

/*! ----------- TAGS ----------- */

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background: var(--clr-primary);
  color: var(--clr-secondary);
  min-height: 100vh;
}

footer {
  /* margin-top: auto; */
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 1.5em 1.5em;
  background-color: #1e1e1e;
  text-align: center;
}

h1 {
  text-align: center;
  padding-top: 1em;
  font-family: var(--font-secondary);
  font-size: 4em;
  font-weight: 300;
}

p {
  font-family: var(--font-timer), monospace;
  text-align: center;
  margin-top: 1em;
  font-size: 2em;
}

button {
  background-color: var(--clr-btn-bg); /* Green */
  font-size: 1.8em;
  letter-spacing: 0.4ch;
  font-weight: 700;
  padding: 0.8em 1.5em;
  border: none;
  color: var(--clr-secondary);
  text-align: center;
  margin: 2em auto 0;
  display: block;
  cursor: pointer;
}

/*! ----------- CLASSES ----------- */

.bold {
  font-weight: 700;
}

.stop {
  background-color: #e23030;
}

/*! ----------- ID's ----------- */

#time {
  font-family: var(--font-timer);
  font-size: 2.5em;
}
